html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden !important;
}

body {
  margin-bottom: 70px !important;
}

.caption {
  font-weight: $small-font-weight;
  font-style: italic;
  font-size: $small-font-size !important;
}

.page-title {
  border-bottom: 1px solid;
  border-color: lightgray;
  padding-bottom: 25px;
  font-weight: $small-font-weight;
}

figure>figcaption {
  padding-top: 8px !important;
  text-align: center;
  font-style: italic;
  font-size: $small-font-size;
}


body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $primary-text-color !important;
  background-color: palette-Red-50 !important;
}

.post {
  // border-bottom: 1px solid;
  border-bottom-color: lightgrey;
  padding: 8px 0 12px 0;

}

.navbar-blog {
  padding: 5px 0px 5px 0px;
  background-color: $primary-color-darker800 !important;
  border: none !important;
  border-radius: 0 !important;
}

.post-date {
  font-weight: $small-font-weight;
  font-style: italic;
  font-size: $small-font-size;
}

strong {
  font-style: normal;
  font-weight: $large-font-weight !important;
}

strong em {
  font-style: normal;
  font-weight: $large-font-weight !important;
  background-color: $secondary-color-lighter50;
}

a.light:hover {
  color: white !important;
  text-decoration: none !important;
}

a.light {
  color: $primary-color-lighter50 !important;
}

a.active {
  color: $primary-color-lighter50 !important;
}

a.dark:hover {
  color: $secondary-color-darker800 !important;
  text-decoration: none !important;
}

a.dark:active {
  color: $secondary-color-darker800 !important;
  text-decoration: none !important;
}

a.dark {
  color: $secondary-color !important;
}

/* Global <a> tag style */
a {
  color: $secondary-color !important;
}

a:hover, a:active {
  color: $secondary-color-darker800 !important;
  text-decoration: none;
}


.content-container{
  margin: 0px 12px 0px 12px;
}

/* Screen Media queries */
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px  ) {
  .content-container {
    margin: 0 24px 0 24px;
  }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .content-container {
    margin: 0 72px 0 72px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 1080px  ) {
  .content-container {
    margin: 0 auto !important;
    width: 768px !important;
  }
}

.center-div {
  display: inline-block;
}


/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



.navbar-right-links {
  font-weight: $small-font-weight;
  border: none;
}

.share-icons-container a:hover, a:active, a:focus {
  text-decoration: none;
}

.share-icons-container i {
  color: $disabled-text-color !important;
}

i.linkedin-hover-color:hover {
  color: #0077B5 !important;
}

i.facebook-hover-color:hover {
  color: #3b5998 !important;
}

i.googleplus-hover-color:hover {
  color: #D34836 !important;
}

i.twitter-hover-color:hover {
  color: #0084b4 !important;
}


.post-description {
  padding-top: 20px;
  padding-bottom: 10px;
}

.post-image {
  padding-bottom: 10px;
}

.publication {
  // border-bottom: 1px solid;
  border-bottom-color: lightgrey;
  padding: 4px 0 6px 0;
}